.custom-width {
    max-width: 95%;
}

/*Table*/
.table {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300; /* light */
    font-size: 16px;
}

.black-borders th {
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}

/* колір для рядків де проєкт стосується інформатизації */
.informatization-row {
    background-color: #ddebf7 !important; /* ніжний блакитний */
}

.project-row {
    scroll-margin-top: 200px; /* під header */
}

.table td, .table th {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th {
    text-align: center;
    vertical-align: middle;
}

.table > :not(caption) > * > * {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.table th:nth-child(1),
.table td:nth-child(1) {  /* № з/п */
    min-width: 5px;
    width: 6%;
    text-align: center;
}
.table th:nth-child(2),
.table td:nth-child(2) {  /* Найменування */
    min-width: 150px;
    width: 35%;
}
.table tr td:nth-child(2) {
    cursor: pointer;
}
.table th:nth-child(3),
.table td:nth-child(3) {  /* Одиниця виміру */
    min-width: 50px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(4),
.table td:nth-child(4) {  /* Кількість */
    min-width: 50px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(5),
.table td:nth-child(5) {  /* Ціна, грн */
    min-width: 90px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(6),
.table td:nth-child(6) {  /* Сума по кошторису, грн */
    min-width: 100px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(7),
.table td:nth-child(7) {  /* Сума по договору, грн */
    min-width: 100px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(8),
.table td:nth-child(8) {  /* Залишок */
    min-width: 100px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(9),
.table td:nth-child(9) {  /* Оплата до */
    min-width: 100px;
    width: 5%;
    text-align: center;
}

/* Статус закупівлі */
.status-new {
    background-color: transparent;
}

.status-in-progress {
    background-color: #fff2cc !important;  /* жовтий */
}

.status-completed {
    background-color: #e2efda !important;  /* зелений */
}

.status-cancelled {
    background-color: #fce4d6 !important;  /* червоний */
}

/* селектор */
.executor-select-clean {
    border: none !important;
    background-color: transparent !important;
    padding-left: 0;
    padding-right: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.95rem;
    color: #212529;
    outline: none !important;
    box-shadow: none !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='12' height='12' viewBox='0 0 16 16' fill='none' stroke='%23666'%3E%3Cpath d='M4 6l4 4 4-4' stroke-width='2'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: 12px !important;
    cursor: pointer;
}

/* При фокусі не малювати рамок */
.executor-select-clean:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Підсвічування першої комірки (№) */
/* Анімація "Затримка + Затухання" */
@keyframes fadeBlueHold {
    0% {
        /*background-color: #3164ff;*/
        background-color: #00264d;
        color: white;
    }
    80% {
        background-color: #00264d;
        color: white;
    }
    100% {
        background-color: transparent;
        color: inherit;
    }
}
.highlight-cell {
    animation: fadeBlueHold 3s ease-in-out forwards;
}

/* Стиль для кнопки-галочки */
.btn-save-check {
    background: none !important;
    border: none !important;
    color: #198754 !important;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
    opacity: 1 !important;
    padding: 0;
    cursor: pointer;

    /* Розташування */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: -0.5rem;

    transition: transform 0.2s ease, color 0.2s ease;
}

.btn-save-check:hover {
    color: #157347 !important;
    transform: scale(1.2);
}
