.custom-width {
    max-width: 95%;
}

/*Table*/
.table {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300; /* light */
    font-size: 16px;
}

.black-borders th {
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}

/* колір для рядків де проєкт стосується інформатизації */
.informatization-row {
    background-color: #ddebf7 !important; /* ніжний блакитний */
}

.project-row {
    scroll-margin-top: 200px; /* під header'а */
}

/* Тимчасове підсвічування відредагованого рядка */
/* Плавний перехід кольору для всіх комірок таблиці */
.table tr td {
    transition: background-color 1s ease;
    cursor: pointer;
}
.highlight-edited td {
    background-color: #fff3cd;
}

.table td, .table th {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th {
    text-align: center;
    vertical-align: middle;
}

.table > :not(caption) > * > * {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.table th:nth-child(1),
.table td:nth-child(1) {  /* № з/п */
    min-width: 5px;
    width: 6%;
    text-align: center;
}
.table th:nth-child(2),
.table td:nth-child(2) {  /* Найменування */
    min-width: 150px;
    width: 35%;
}
.table th:nth-child(3),
.table td:nth-child(3) {  /* Одиниця виміру */
    min-width: 50px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(4),
.table td:nth-child(4) {  /* Кількість */
    min-width: 50px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(5),
.table td:nth-child(5) {  /* Ціна, грн */
    min-width: 90px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(6),
.table td:nth-child(6) {  /* Сума по кошторису, грн */
    min-width: 100px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(7),
.table td:nth-child(7) {  /* Сума по договору, грн */
    min-width: 100px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(8),
.table td:nth-child(8) {  /* Залишок */
    min-width: 100px;
    width: 5%;
    text-align: center;
}
.table th:nth-child(9),
.table td:nth-child(9) {  /* Оплата до */
    min-width: 100px;
    width: 5%;
    text-align: center;
}